.popup {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 99;
    overflow: hidden;
    padding: 20px 20px;
    transition: opacity 300ms ease-out;
}

@keyframes slideUp {
    0% {
        opacity: 0;
        transform: translateY(100%);
    }

    100% {
        opacity: 1;
        transform: translateY(0);
    }
}

.popup-content {
    background-color: #E6EFFD;
    border-radius: 14.22px;
    /* width: 418px; */
    max-width: 518px;
    padding: 20px;
    animation: slideUp 0.5s ease-in-out;
}

.popup-content .close-icon {
    display: flex;
    justify-content: end;
    text-align: left;
}