/* Size styles */
.btn.small {
  display: flex;
  align-items: center;
  height: 42px ;
  width: 65px;
  gap: 6.67px;
  padding: 12px 16px 12px 16px ;
  font-size: 12px;
  font-weight: 600;
  font-family: 'Metropolis', sans-serif;
  line-height: 18px;
  text-align: center;
  border-radius: 4px;
  transition: all 300ms ease-in-out;
}
.btn.small:hover {
    
   
  border-radius: 15px;
  border: 2px solid #ED3237;
  box-shadow: 0px 4px 8px 0px rgba(0, 0, 0, 0.1);
  transform: translateY(-3px);
}
  
  .btn.medium {
    display: flex;
    align-items: center;
    height: 42px ;
    width: 184px;
    gap: 6.67px;
    padding: 12px 16px 12px 16px ;
    font-size: 12px;
    font-weight: 600;
    font-family: 'Metropolis', sans-serif;
    line-height: 18px;
    text-align: center;
    border: 1px solid #9ABFF8;
    border-radius: 4px;
    transition: all 300ms ease-in-out;

  }
  .btn.medium:hover {
    
   
    border-radius: 8px;
    border: 1px solid #05284C;
    box-shadow: 0px  0px rgba(0, 0, 0, 0.1);
    transform: translateY(-3px);
}
  
  .btn.large {
    padding: 15px 30px;
    font-size: 18px;
  }
  
  .btn.cdn {
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 16px;
    font-weight: 600;
    font-family: 'Metropolis', sans-serif;
    line-height: 24px;
    height: 48px;
    width: 100%;
    text-align: center;
    padding: 12px 20px;
    border-radius: 8px;
    transition: all 300ms ease-in-out;
    box-shadow: 0px 1px 2px 0px #1018280D;
    background: #ED3237;
    color: #FFFFFF;
    border: 2px solid transparent;
}

.btn.cdn:hover {
    
   
    border-radius: 15px;
    border: 2px solid #ED3237;
    box-shadow: 0px 4px 8px 0px rgba(0, 0, 0, 0.1);
    transform: translateY(-3px);
}

/* for all the arrow buttons */
.btn.arrow {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 8px;
  border: none !important;
  font-size: 16px;
  color: #3580F1;
  border-radius: 6px !important;
  cursor: pointer;
  transition: all 0.3s ease !important;
  line-height: 24px;
  font-weight: 500;
}

.btn.arrow:hover {
  gap: 15px;
  color: white;
}

.btn.play {
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  border: 2px solid #F8ADAF;
  background-color: #05284C99;
  transition: background-color 0.3s, transform 0.3s;
}

.btn.play:hover {
  background-color: #034a7f99;
  /* Change to a lighter shade on hover */
  transform: scale(1.1);
  /* Slightly enlarge the element on hover */
}

/* for all the arrow buttons */



  /* Color styles */
 
  
  .btn.secondary {
    background-color: #6c757d;
  }
  
  .btn.danger {
    background-color: #dc3545;
  }
  