
/*Our experience ensures exceptional & count up style*/
.counter {
    font-size: 36px;
    line-height: 44px;
    font-weight: 700;
    letter-spacing: -2%;
    font-family: 'Goldplay', sans-serif;  
    color: #FFFFFF;
   
}
/*Our experience ensures exceptional & count up style*/