/* Commented imports (assuming these are handled elsewhere) */
@import "./assets/fonts/goldFont/stylesheet.css";
@import url('https://fonts.googleapis.com/css2?family=Goldplay:wght@400;500;600;700;800;900&display=swap');


@tailwind base;
@tailwind components;
@tailwind utilities;


body {
  font-family: 'Goldplay', sans-serif;
}

.regale-blue {
  background: linear-gradient(58.29deg, #3580F1 -166.39%, #FFFFFF 76.55%);

}

.bigcolour {
  background: linear-gradient(42.35deg, #FFE0E1 7.98%, #FFFFFF 60.52%);

}

.bigcolour2 {
  background: linear-gradient(42.35deg, #FFE0E1 7.98%, #FFFFFF 60.52%);

}

.blueColor {
  background: linear-gradient(179.03deg, rgba(1, 20, 40, 0.2) -47.85%, rgba(5, 72, 142, 0.2) -152.17%);
}


nav ul li a {
  font-size: 12px;
  font-weight: 600;
  font-family: 'Goldplay', sans-serif;
  line-height: 18px;
  text-align: center;
}
.text-change:hover {
  color: #fff;
  /* Your desired hover color */
}

.dark-text-change:hover span {
  color: #05284C;
  /* Your desired dark mode hover color */
}

.back-to-top-box:hover .back-to-top {
  position: relative;
  top: -5px;
}

/* fonts */
h1 {
  font-size: 48px;
  line-height: 64px;
  text-align: center;
  font-weight: 900;
  font-family: 'Goldplay', sans-serif;  
}

h2 {
  font-weight: 700;
  font-family: 'Goldplay', sans-serif;  
}

h3 {
  font-size: 36px;
  line-height: 44px;
  font-weight: 700;
  letter-spacing: -2%;
  font-family: 'Goldplay', sans-serif;  
}

h4 {
  font-size: 48px;
  line-height: 64px;
  font-weight: 600;
  font-family: "Averta";
}

h5 {
  font-size: 20px;
  line-height: 32px;
  font-weight: 700;
  font-family: 'Goldplay', sans-serif;  
}

h6 {
  font-size: 24px;
  line-height: 32px;
  font-weight: 600;
  font-family: 'Goldplay', sans-serif;  
}

.txt {
  font-size: 16px;
  line-height: 32px;
  font-weight: 600;
  font-family: 'Goldplay', sans-serif;  
}

.txt2 {
  font-size: 16px;
  line-height: 24px;
  font-weight: 500;
  font-family: 'Goldplay', sans-serif;  
}

.txt3 {
  font-size: 18px;
  line-height: 28px;
  font-weight: 500;
  color: #9ABFF8;
  font-family: 'Goldplay', sans-serif;  
}

.txt4 {
  font-size: 16px;
  font-weight: 600;
  font-family: 'Goldplay', sans-serif;  
}

.txt5 {
  font-size: 16px;
  font-weight: 500;
  line-height: 24px;
  font-family: 'Goldplay', sans-serif;  
}

.txt6 {
  font-size: 18px;
  line-height: 28px;
  font-weight: 700;
  color: #05284C;
  font-family: 'Goldplay', sans-serif;  
}

.txt7 {
  font-size: 30px;
  line-height: 30px;
  font-weight: 700;
  font-family: 'Goldplay', sans-serif;  
}

.txt8 {
  font-size: 24px;
  font-weight: 500;
  line-height: 32px;
  font-family: 'Goldplay', sans-serif;  
}


p {
  font-weight: 400;
  font-family: 'Goldplay', sans-serif;  

}

/* for all the arrow buttons */
.arrow {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 8px;
  border: none !important;
  font-size: 16px;
  color: #3580F1;
  border-radius: 6px !important;
  cursor: pointer;
  transition: all 0.3s ease !important;
  line-height: 24px;
  font-weight: 500;
  font-family: 'Goldplay', sans-serif;  
}

.arrow:hover {
  gap: 15px;
  color: white;
}

/* for all the arrow buttons */